*
{
	box-sizing: border-box;
}

html
{
	background-image: url( 'SSbackgroundImage.jpg' );
	background-size: cover;
	background-repeat: repeat;	
	/*min-width: 1000px;*/
}


#container
{
	width: 100%;
}

.startPrompt 
{
    background-color: #E6E8E2;
    font-size: 1.5em;
    padding: 5%;
}

.displayPage
{
	display: none;
	background-color: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#errorMsg
{
	font-size: 30px;
	width: 70%;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

/*
.brokerLogos
{
	width: 800px;
	height: 275px;
	background-color: white;
	padding: 15px;
}
*/


.brokerLogos img
{
	width: 225px;
	height: 225px;
	margin: 30px;
	border: 3px solid grey;	
}

img:hover
{	
	border: 5px solid #223DE8;
	border-radius: 5px;
}

#searchInput
{
	background-color: #E6E8E2;
	border: transparent;
	width: 300px;
	height: 40px;
	font-size: 20px;
	padding-left: 5px;
}

.submitButton
{
	background-color: #223DE8;
	color: white;
	margin-top: 30px;
	border-radius: 25px;
	width: 150px;
	height: 50px;
	font-size: 30px;
	border: transparent;
	display: block;
	margin-right: auto;
	margin-left: auto;

}

.submitButton:hover
{
	background-color: white;
	color: #223DE8;
	border: 2px solid #223DE8;
}

body
{
	padding: 60px;
}

header
{
	text-align: center;
	font-size: 3em;
	color: black;
	font-family: 'Raleway', san-serif;
	width: 100%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
}

h1
{	
	font-size: 1em;
	margin-right: auto;
	margin-left: auto;
}

h3
{
	margin-bottom: 50px;
	font-family: 'Raleway', san-serif;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

main
{
	width: 100%;
	height: 60%;
}

.startPage
{
	text-align: center;
}

.displayPage
{
	text-align: center;
	width: 80%;
	height: 50%;
}

#purchaseBtn
{
	
	width: 20%;
	height: 100%;
	font-size: 100%;
	background-color: #223DE8;
	color: white;
	border-radius: 25px;
	border: transparent;
	margin: 10px;
}

#purchaseBtn:hover
{
	background-color: white;
	color: #223DE8;
	border: 2px solid #223DE8;
}

#newSearchBtn
{
	
	width: 20%;
	height: 100%;
	font-size: 100%;
	background-color: #223DE8;
	color: white;
	border-radius: 25px;
	border: transparent;
	margin: 10px;
}

#newSearchBtn:hover
{
	background-color: white;
	color: #223DE8;
	border: 2px solid #223DE8;
}


#addCompBtn
{
	
	width: 20%;
	height: 100%;
	font-size: 100%;
	background-color: #223DE8;
	color: white;
	border-radius: 25px;
	border: transparent;
	margin: 10px;
}

#addCompBtn:hover
{
	background-color: white;
	color: #223DE8;
	border: 2px solid #223DE8;
}

.peerPage
{
	text-align: center;
	margin-top: 50px;
	width: 75%;
	height: 33%;
	display: none;
    padding: 30px;
	background-color: #FFFDF7;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	font-size: 1em;
	
}

.peerPage p
{
	font-family: 'Raleway', san-serif;
}

.compDiv
{	
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
}

.peerPage
{
	text-align: center;
}

.displayPage p
{
	font-size: 20px;
	font-family: 'Raleway', san-serif;
}

#errorMsg
{
	display: none;
	color: red;
	margin-top: 35px;
}