@media only screen and (min-width: 320px){

	body
	{
		width: 100%;
		padding: 5%;
	}

	h1 
	{
	    font-size: 0.7em;
	    margin-right: auto;
	    margin-left: auto;
	}

	.startPrompt 
	{
	    background-color: #E6E8E2;
	    font-size: 1.5em;
	    padding: 5%;
	    margin: auto 15%;
	}

	#searchInput
	{
		width: 80%;    
	    font-size: 1em;	    
	    padding: 5%;
	    margin: 5% auto;
	}

	.submitButton
	{
		width: 90%;
	}

	.displayPage
	{
		padding: 5%;
		width: 90%;
	}

	.peerPage {
		width: 90%;
	}

	#addCompBtn 
	{
	    width: 100%;	    
	    font-size: 1em;	    
	    border: transparent;
	    margin: 2%;
	    display: block;
	    margin: 5% auto;
	    padding: 7%
	}

	#purchaseBtn
	{
	    width: 100%;	    
	    font-size: 1em;	    
	    border: transparent;
	    margin: 2%;
	    display: block;
	    margin: 5% auto;
	    padding: 7%
	}

	.brokerLogos img 
	{
	    width: 99%;
	    height: 225px;
	    margin: auto;
	    border: 3px solid grey;
	    margin-bottom: 3%;
	}

	.brokerLogos img:hover
	{
		border: 3px solid blue;
	}

	#newSearchBtn
	{
	    width: 100%;	    
	    font-size: 1em;	    
	    border: transparent;
	    margin: 2%;
	    display: block;
	    margin: 5% auto;
	    padding: 7%
	}
}

@media only screen and (min-width: 768px){

	h1
	{
		font-size: 1.5em;
	}

	.startPrompt
	{
		font-size: 1.7em;
	}

	#searchInput
	{
		font-size: 2em;
	}

	.submitButton
	{
		width: 50%;
	}
}

@media only screen and (min-width: 992px){

	body
	{
		padding: 1%;
	}

	.startPrompt 
	{	    
	    padding: 1%;
	    font-size: 1.2em;
	}

	#searchInput 
	{    
	    margin: 5%;
	    padding: 2%;
	    width: 50%;
	    font-size: 1.5em;
	}

	.submitButton 
	{
	    
	    margin-top: 1%;	    
	    width: 30%;	    
	    font-size: 2em;	    
	    padding: .5%;
	}

	.displayPage
	{
		width: 50%;
		padding: 2%;
	}

	#addCompBtn, #newSearchBtn, #purchaseBtn 
	{
		width: 30%;
		padding: 2%;
	}

	.brokerLogos img 
	{
		width: 33%;
		margin: 2%;
	}
}