/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
   html
	{
		background-image: none;
		background-color: #E2E8E8;
		font-size: 35px;
	}

	.col-3
	{
		width: 100%;
	}

	h1
	{
		font-size: 30px;
	}

	h3
	{
		font-size: 25px;
	}

	#errorMsg
	{
		font-size: 40px;
		width: 200px;
	}

	.peerPage
	{
		background-color: transparent;
		border: none;
		font-size: 25px;		
	}

	.compDiv
	{
		border: 1px solid black;
		margin: 5px auto 20px auto;

	}

	.compDiv p
	{
		max-width: 175px;
		word-wrap: break-word;
	}

	.brokerLogos
	{
	   margin: 5px auto 20px auto;	
	   text-align: center;	
	}

	.brokerLogos img
	{
		width: 190px;
		height: 190px;
	}

	.displayPage
	{
		width: 100%;
	}

	.submitButton
	{
		width: 100%;
	}

}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
   .col-3
	{
		width: 25%;
	}

	main
	{
		text-align: center;
	}

	#container
	{
		text-align: center;
	}

	.startPage
	{
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	h3
	{
		margin-left: auto;
		margin-right: auto;
		background-color: #E6E8E2;
	}

	#searchInput
	{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.submitButton
	{
		width: 100%;
	}
}